<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WhiteMOney.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>829CA6BE21612A6600F032FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>829CA6D521612A6700F032FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>829CA6E021612A6700F032FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
